*, *::after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 75px 0;
    @media screen and (max-width: 1500px) {
        max-width: 984px;
    }
    @media screen and (max-width: 1023px) {
        max-width: 728px;
        padding: 40px 0;
    }
    @media screen and (max-width: 767px) {
        max-width: 380px;
    }
}

.section {
    min-width: 1440px;
    width: 100%;
    background-color: #000;
}

.heading, .h3 {
    font-family: $forum;
}

.text {
    font-family: $roboto;
}

.heading {
    margin: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    @media screen and (max-width: 1500px) {
        font-size: 50px;
    }
    @media screen and (max-width: 1023px) {
        font-size: 40px;
    }
    @media screen and (max-width: 767px) {
        font-size: 28px;
        line-height: 40px;
        margin-top: 5px;
    }
}

.social-medias {
    display: flex;
    align-items: flex-end;
    & > .social-item {
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            border: 1px solid $font-hover;
            transition: all 0.3s;
        }
        & > a {
            height: 23px;
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

.show-block {
    display: none;
}

.little-map {
    display: none;
}

@media screen and (max-width: 1500px) {
    .hide-block {
        display: none;
    }
    .show-block {
        display: block;
    }
}