*, *::after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.section {
    min-width: 1440px;
    width: 100%;
    background-color: #000;
}

.heading, .h3 {
    font-family: $forum;
}

.text {
    font-family: $roboto;
}

.heading {
    margin: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
}