*, *::after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section {
  min-width: 1440px;
  width: 100%;
  background-color: #000;
}

.heading, .h3 {
  font-family: "Forum", serif;
}

.text {
  font-family: "Roboto", sans-serif;
}

.heading {
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
}

.header {
  min-width: 1440px;
  background-color: #000;
  height: 150px;
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .navigation ul {
  display: flex;
}
.header .container .navigation li {
  list-style: none;
}
.header .container .navigation li:not(:last-child) {
  margin-right: 55px;
}
.header .container .navigation li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.header .container .navigation li a:hover {
  color: #9D8665;
  transition: all 0.5s;
}
.header .container .navigation li a:active {
  color: #7E6C51;
  transition: all 0.1s;
}

.hero {
  background-color: #000;
  color: #FFF;
}
.hero .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 60px;
}
.hero .introduction-block {
  width: 598px;
  margin-top: 150px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 2;
}
.hero .introduction-block .heading {
  margin-bottom: 25px;
}
.hero .introduction-block .introduce {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}
.hero .introduction-block .button-main {
  width: 360px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #710707;
  color: #FFF;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 100;
  margin-top: 75px;
  cursor: pointer;
}
.hero .introduction-block .button-main:hover {
  background: #9D8665;
  transition: all 0.4s;
}
.hero .image-main {
  width: 1000px;
  height: 750px;
  position: relative;
}
.hero .image-main .overlay {
  width: 1000px;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.virtual-tour .container {
  padding: 75px 0;
}
.virtual-tour .heading {
  color: #9D8665;
  position: relative;
  margin-bottom: 103px;
}
.virtual-tour .heading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #710707;
  top: 115px;
  left: 0;
}
.virtual-tour .virtual-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 75px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.virtual-tour .virtual-block .virtual-block__item {
  width: 440px;
  height: 424px;
}
.virtual-tour .virtual-block .virtual-block__item a {
  display: block;
  text-decoration: none;
  color: #000;
}
.virtual-tour .virtual-block .virtual-block__item .h3 {
  font-size: 32px;
  letter-spacing: 5px;
  position: relative;
  margin: 25px 0;
  font-weight: 400;
}
.virtual-tour .virtual-block .virtual-block__item .h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 300px;
  top: 45px;
  left: 0;
  background: #710707;
}
.virtual-tour .virtual-block .virtual-block__item .text {
  margin: 0;
  font-weight: 100;
}
.virtual-tour .virtual-block .virtual-block__item .text:last-child {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */