*, *::after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 0;
}

.section {
  min-width: 1440px;
  width: 100%;
  background-color: #000;
}

.heading, .h3 {
  font-family: "Forum", serif;
}

.text {
  font-family: "Roboto", sans-serif;
}

.heading {
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
}

.header {
  min-width: 1440px;
  background-color: #000;
  height: 150px;
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .navigation ul {
  display: flex;
}
.header .container .navigation li {
  list-style: none;
}
.header .container .navigation li:not(:last-child) {
  margin-right: 55px;
}
.header .container .navigation li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.header .container .navigation li a:hover {
  color: #9D8665;
  transition: all 0.5s;
}
.header .container .navigation li a:active {
  color: #7E6C51;
  transition: all 0.1s;
}

.hero {
  background-color: #000;
  color: #FFF;
}
.hero .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 60px;
  padding-top: 0;
}
.hero .introduction-block {
  width: 598px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 2;
}
.hero .introduction-block .heading {
  margin-bottom: 25px;
}
.hero .introduction-block .introduce {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}
.hero .introduction-block .button-main {
  width: 360px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #710707;
  color: #FFF;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 100;
  margin-top: 75px;
  cursor: pointer;
}
.hero .introduction-block .button-main:hover {
  background: #9D8665;
  transition: all 0.4s;
}
.hero .image-main {
  width: 1000px;
  height: 750px;
  position: relative;
}
.hero .image-main .overlay {
  width: 1000px;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.virtual-tour .heading {
  color: #9D8665;
  position: relative;
  margin-bottom: 103px;
}
.virtual-tour .heading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #710707;
  top: 115px;
  left: 0;
}
.virtual-tour .virtual-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 75px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.virtual-tour .virtual-block .virtual-block__item {
  width: 440px;
  height: 424px;
}
.virtual-tour .virtual-block .virtual-block__item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.virtual-tour .virtual-block .virtual-block__item .h3 {
  font-size: 32px;
  letter-spacing: 5px;
  position: relative;
  margin: 25px 0 22px;
  font-weight: 400;
}
.virtual-tour .virtual-block .virtual-block__item .h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 300px;
  top: 45px;
  left: 0;
  background: #710707;
}
.virtual-tour .virtual-block .virtual-block__item .text {
  margin: 0;
  font-weight: 100;
}
.virtual-tour .virtual-block .virtual-block__item .text:last-child {
  margin-top: 10px;
}
.virtual-tour .virtual-block .virtual-block__item .panoram-text {
  font-size: 18px;
}

.picture-explore {
  background: #000;
  color: #FFF;
}
.picture-explore .container {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.picture-explore .information-block {
  width: 660px;
}
.picture-explore .information-block .text {
  font-weight: 300;
  line-height: 175%;
  margin: 25px 0;
}
.picture-explore .information-block .attention {
  color: #CAAA7D;
}
.picture-explore .heading {
  position: relative;
  margin-bottom: 103px;
}
.picture-explore .heading::after {
  content: "";
  position: absolute;
  top: 115px;
  left: 0;
  height: 3px;
  background: #710707;
  width: 100%;
}

.footer {
  background: #000;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #666;
}
.footer .container {
  display: flex;
  padding: 75px 0 50px;
}
.footer .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 145px;
}
.footer .list-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 150px;
       column-gap: 150px;
  width: 363px;
  height: 128px;
  padding: 0;
  margin: 0;
}
.footer .list-item {
  list-style: none;
}
.footer .list-item:nth-child(2), .footer .list-item:nth-child(5) {
  margin: 23px 0;
}
.footer .list-item > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  letter-spacing: 2px;
}
.footer .list-item > a:hover {
  color: #9D8665;
  transition: all 0.3s;
}
.footer .social-medias {
  display: flex;
  align-items: flex-end;
}
.footer .social-medias > .social-item {
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer .social-medias > .social-item:hover {
  border: 1px solid #9D8665;
  transition: all 0.3s;
}
.footer .social-medias > .social-item > a {
  height: 23px;
}
.footer .social-medias > .social-item:not(:last-child) {
  margin-right: 25px;
}

.author {
  background: #000;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 100;
  font-size: 26px;
}
.author .container {
  display: flex;
  justify-content: space-evenly;
}
.author .container .bio > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.author .container .bio > a:hover {
  color: #9D8665;
  transition: all 0.3s;
}

.video-journey .up-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.video-journey .up-block .heading {
  color: #9D8665;
}
.video-journey .up-block .video-description {
  width: 720px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 175%;
  margin: 0;
}
.video-journey .down-block .main-video {
  margin-bottom: 40px;
  position: relative;
}
.video-journey .down-block .main-video video {
  width: 100%;
}
.video-journey .down-block .main-video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-journey .down-block .main-video .play-button:hover {
  cursor: pointer;
}
.video-journey .down-block .additional-video {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.video-journey .down-block .additional-video .video-item {
  position: relative;
}
.video-journey .down-block .additional-video .video-item video {
  width: 452px;
  height: 254px;
}
.video-journey .down-block .additional-video .description {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
}
.video-journey .down-block .additional-video .description .description__text {
  font-size: 18px;
  margin: 0;
  margin-top: 7px;
  margin-left: 10px;
  color: #FFF;
}
.video-journey .down-block .additional-video .description .description__icon {
  width: 40px;
  height: 40px;
}
.video-journey .down-block .additional-video .start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-journey .down-block .additional-video .start-btn:hover {
  cursor: pointer;
}

.art-gallery {
  background: #000;
  color: #FFF;
}
.art-gallery .container {
  padding-bottom: 0;
}
.art-gallery .gallery-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.art-gallery .first-column {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}
.art-gallery .second-column {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.art-gallery .third-column {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}
.art-gallery .gallery-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.buy-tickets .heading {
  position: relative;
  color: #9D8665;
  margin-bottom: 103px;
}
.buy-tickets .heading::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #710707;
  top: 115px;
  left: 0;
}
.buy-tickets .tickets-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.buy-tickets .tickets-wrapper .h4 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.buy-tickets .tickets-wrapper .head-type {
  margin-bottom: 50px;
}
.buy-tickets .tickets-wrapper .head-amount {
  margin-bottom: 25px;
  text-align: end;
}
.buy-tickets .tickets-wrapper .type-item {
  margin-bottom: 25px;
}
.buy-tickets .tickets-wrapper .type-item .type-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.buy-tickets .tickets-wrapper .type-item input[type=radio] {
  accent-color: #000;
}
.buy-tickets .tickets-wrapper .amount-name {
  margin: 0;
  margin-bottom: 15px;
}
.buy-tickets .tickets-wrapper .amount-name.second-amount {
  margin-top: 10px;
}
.buy-tickets .tickets-wrapper .value-box {
  width: 150px;
  height: 50px;
  border: 4px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buy-tickets .tickets-wrapper .value-box #basicMinus, .buy-tickets .tickets-wrapper .value-box #basicPlus, .buy-tickets .tickets-wrapper .value-box #seniorMinus, .buy-tickets .tickets-wrapper .value-box #seniorPlus {
  font-size: 32px;
  cursor: pointer;
  padding: 0 30px;
}
.buy-tickets .tickets-wrapper .total-price {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: end;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.65px;
}
.buy-tickets .tickets-wrapper .buy-tickets {
  width: 175px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 2px;
  background: #000;
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.buy-tickets .tickets-wrapper .buy-tickets:active {
  transform: scale(1.03);
}

.parallax-image {
  display: flex;
  justify-content: center;
}
.parallax-image img {
  max-width: 1920px;
  width: 100%;
}

.contacts .heading {
  position: relative;
  color: #9D8665;
  margin-bottom: 103px;
}
.contacts .heading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #710707;
  top: 115px;
  left: 0;
}
.contacts .contact-wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts .contact-wrapper .contacts-info {
  width: 282px;
  height: 244px;
  font-family: "Roboto", sans-serif;
}
.contacts .contact-wrapper .contacts-info .h3 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 50px;
}
.contacts .contact-wrapper .contacts-info .contacts-item {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */