.contacts {
    .heading {
        position: relative;
        color: $font-hover;
        margin-bottom: 103px;
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 100%;
            background: #710707;
            top: 115px;
            left: 0;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 63px;
            &::after {
                top: 85px;
            }
        }
        @media screen and (max-width: 767px) {
            &::after {
                top: 55px;
            }
        }
    }
    .contact-wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
        @media screen and (max-width: 767px) {
            .show-block {
                display: none;
            }
            .little-map {
                display: block;
            }
        }
        .contacts-info {
            width: 282px;
            height: 244px;
            font-family: $roboto;
            & .h3 {
                font-family: $roboto;
                font-size: 28px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 50px;
                @media screen and (max-width: 1500px) {
                    font-size: 24px;
                    margin-bottom: 35px;
                }
            }
            @media screen and (max-width: 767px) {
                height: unset;
                & .h3 {
                    font-size: 16px;
                }
            }
            .contacts-item {
                margin: 0;
                margin-bottom: 25px;
                font-weight: 300;
                @media screen and (max-width: 1500px) {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
}