.art-gallery {
    background: #000;
    color: #FFF;
    .container {
        padding-bottom: 0;
    }
    .gallery-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .first-column {
        display: flex;
        flex-direction: column;
        margin-top: 125px;
        @media screen and (max-width: 1500px) {
            gap: 24px;
            & img {
                width: 304px;
            }
        }
        @media screen and (max-width: 1023px) {
            & img {
                width: 352px;
            }
        }
        @media screen and (max-width: 767px) {
            & img {
                width: 178px;
            }
        }
    }
    .second-column {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        @media screen and (max-width: 1500px) {
            gap: 24px;
            & img {
                width: 304px;
            }
        }
        @media screen and (max-width: 1023px) {
            & img {
                width: 352px;
            }
        }
        @media screen and (max-width: 767px) {
            & img {
                width: 178px;
            }
        }
    }
    .third-column {
        display: flex;
        flex-direction: column;
        margin-top: 125px;
        @media screen and (max-width: 1500px) {
            gap: 24px;
            & img {
                width: 304px;
            }
        }
        @media screen and (max-width: 1023px) {
            display: none;
        }
    }
    .gallery-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 360px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    }
}