.buy-tickets {
    .heading {
        position: relative;
        color: $font-hover;
        margin-bottom: 103px;
        &::after {
            position: absolute;
            content: "";
            height: 4px;
            width: 100%;
            background: #710707;
            top: 115px;
            left: 0;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 63px;
            &::after {
                top: 85px;
            }
        }
    }
    .tickets-wrapper {
        display: flex;
        justify-content: space-between;
        font-family: $roboto;
        @media screen and (max-width: 1500px) {
            & img {
                width: 700px;
                height: 440px;
            }
        }
        @media screen and (max-width: 1023px) {
            & img {
                width: 444px;
                height: 340px;
            }
        }
        .h4 {
            margin: 0;
            font-size: 28px;
            font-weight: 700;
            font-family: $roboto;
        }
        
        .head-type {
            margin-bottom: 50px;
        }

        .head-amount {
            margin-bottom: 25px;
            text-align: end;
            @media screen and (max-width: 1500px) {
                text-align: left;
            }
        }

        .type-item {
            margin-bottom: 25px;
            & .type-text {
                font-family: $roboto;
                font-weight: 300;
            }
            input[type=radio] {
                accent-color: #000;
            }
        }

        .amount-name {
            margin: 0;
            margin-bottom: 15px;
            &.second-amount {
                margin-top: 10px;
            }
        }

        .value-box {
            width: 150px;
            height: 50px;
            border: 4px solid #000;
            display: flex;
            justify-content: space-around;
            align-items: center;
            #basicMinus, #basicPlus, #seniorMinus, #seniorPlus {
                font-size: 32px;
                cursor: pointer;
                padding: 0 30px;
            }
            @media screen and (max-width: 1500px) {
                width: 175px;
            }
        }

        .total-price {
            margin-top: 50px;
            margin-bottom: 60px;
            text-align: end;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 1.65px;
        }
        .buy-tickets {
            width: 175px;
            height: 50px;
            border: 2px solid #000;
            border-radius: 2px;
            background: #000;
            color: #FFF;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 2px;
            font-family: $roboto;
            cursor: pointer;
            &:active {
                transform: scale(1.03);
            }
        }
    }
}

.parallax-image {
    display: flex;
    justify-content: center;
    & img {
        max-width: 1920px;
        width: 100%;
        height: 400px;
    }
    @media screen and (max-width: 1023px) {
        & img {
            height: 300px;
        }
    }
}