.virtual-tour {
    .heading {
        color: #9D8665;
        position: relative;
        margin-bottom: 103px;
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 100%;
            background: #710707;
            top: 115px;
            left: 0;
        }
        @media screen and (max-width: 1500px) {
            margin-bottom: 83px;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 60px;
            &::after {
                top: 85px;
            }
        }
        @media screen and (max-width: 767px) {
            &::after {
                top: 55px;
            }
        }
    }
    .virtual-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 75px;
        column-gap: 60px;
        @media screen and (max-width: 1500px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            row-gap: 40px;
        }

        .virtual-block__item {
            width: 440px;
            height: 424px;

            @media screen and (max-width: 1500px) {
                width: 330px;
                height: 345px;
                &:nth-child(2n + 1) {
                    margin-left: 80px;
                }
            }

            @media screen and (max-width: 1023px) {
                width: 280px;
            }

            @media screen and (max-width: 767px) {
                height: 295px;
                &:nth-child(2n + 1) {
                    margin: 0 50px;
                }
                &:nth-child(2n + 2) {
                    margin: 0 50px;
                }
            }

            & a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }
            .h3 {
                font-size: 32px;
                letter-spacing: 5px;
                position: relative;
                margin: 25px 0 22px;
                font-weight: 400;
                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 300px;
                    top: 45px;
                    left: 0;
                    background: #710707;
                }
                @media screen and (max-width: 1500px) {
                    font-size: 28px;
                    letter-spacing: 3px;
                    &::after {
                        width: 150px;
                        top: 40px;
                    }
                }
                @media screen and (max-width: 1023px) {
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 3px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 18px;
                    letter-spacing: 5px;
                    &::after {
                        top: 30px;
                    }
                }
            }
            .text {
                margin: 0;
                font-weight: 100;
                &:last-child {
                    margin-top: 10px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
            .panoram-text {
                font-size: 18px;
            }
        }
    }
    
}